<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Jumble_v2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/DevExpress Dark Style</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <Jumble_v2.Settings>
      <setting name="location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="size" serializeAs="String">
        <value>837, 549</value>
      </setting>
      <setting name="Icon4URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon5URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon7URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon6URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon2Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadInstagram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadFacebook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadLife360" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadCalendar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadGoogle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Startup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon1URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon2URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon3URL" serializeAs="String">
        <value>about:blank</value>
      </setting>
      <setting name="Icon1Name" serializeAs="String">
        <value>Icon1</value>
      </setting>
      <setting name="Icon2Name" serializeAs="String">
        <value>Icon2</value>
      </setting>
      <setting name="Icon3Name" serializeAs="String">
        <value>Icon3</value>
      </setting>
      <setting name="Icon4Name" serializeAs="String">
        <value>Icon4</value>
      </setting>
      <setting name="Icon5Name" serializeAs="String">
        <value>Icon5</value>
      </setting>
      <setting name="Icon6Name" serializeAs="String">
        <value>Icon6</value>
      </setting>
      <setting name="Icon7Name" serializeAs="String">
        <value>Icon7</value>
      </setting>
      <setting name="Icon1Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon2Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon3Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon4Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon5Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon6Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon7Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Icon3Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon4Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon5Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon6Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon7Load" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkinName" serializeAs="String">
        <value>DevExpress Dark Style</value>
      </setting>
      <setting name="RoundedCorners" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomUserAgent" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCustomUserAgent" serializeAs="String">
        <value>False</value>
      </setting>
    </Jumble_v2.Settings>
  </userSettings>
</configuration>